.navbar{
	background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
	position: fixed;
}
p{
	font-family: 'Montserrat';
}
li{
	font-family: 'Montserrat';
	color:#000;
	text-align: left;
}
h2{
	text-align: center;
	font-family: 'Abril Fatface' !important;
	margin-bottom: 30px !important; 
}

q{
	font-style: italic;
}

#alert{
	display: none;
}

.header img{
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 40%;
}

#pre_address{
	margin-top: 100px;
}
#DOA{
	margin-top: 20px;
}
.slide{
	width: 100%;
	height: 230%;
}
.cycle-slideshow{
	height: 400px;
}
.form-control{
	background-color: rgb(0,0,0,0);
	color: white;
}
.form-control::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
/* Firefox <18 */
.form-control:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
/* Firefox 19> */
.form-control::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
.form-control:-ms-input-placeholder {  
	color: #fff;
	opacity: 1;

}
.radio{
	color: #fff;	
}
.checkbox{
	color: #fff;
}

#col-sm-4-form, #col-sm-8-form{
	margin-bottom: 20px;
}

.footer, .row{
	color: #fff;
	font-family:'Roboto';
	letter-spacing: 1px;
	text-align: center;
}
.footer img
{
	border-radius: 50%;
	width: 35%;
}
span{
	font-family: 'Abril Fatface';
}
#btn-submit{
	background-color: #e6e6e6;
	font-family: 'Montserrat';
	width: 90px;
	opacity: 0.7;
}
#col-sm-6-btn{
	margin-top: %;
}
table{
	color: #fff;
	letter-spacing: 1px;
	font-family: 'Montserrat';
	border-bottom: 1px solid #fff;
}
#test-table{
	text-align: center;
}
#table-input{
	border: 0px;
	padding: 0px;
	margin: 0px;
}
#nav-item-log-out{
	margin-right:
}
.card-columns .card{
	
	height: 100%;
	color: #000;
}

.card:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(10); /* Safari 3-8 */
	transition: transform .3s;
	transform: scale(1.05); 
}

.card p{
	font-size: 26px; 
	margin-top: 6%;
}
a{
	text-decoration: none;
	color: #000;
}

.card{
	box-shadow: 5px 10px 18px #888888;
	min-height: 460px;
}

.card a
{
	color: #fff;
	font-family: 'Montserrat';
	width: 25%;
	margin-left: 38%;
	margin-bottom: 10px;
	text-decoration: none;
	padding-top: 2%;
	padding-bottom: 2%;
}

.slide{
	border-radius: 0px;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
}

#small{
	margin-left: 32%;
	width: 35%;
}

#prev_c {
	height:90%;
	width:200px;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
}

#prev_c img {
	width: 20%;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto 0px;
	opacity: 0.7;
	margin-left: 15px;
}

#next_c {
	height:90%;
	width:200px;
	position:absolute;
	right:0;
	top:0;
	z-index:100;
}
#next_c img {
	width:20%;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	margin:auto 0px;
	opacity: 0.7;
	margin-right: 15px;
}

#pager {
	height: 30%;
	width: 100%;
	background:rgba(0,0,0,0.5);
	position:absolute;
	bottom:3%;
	z-index:1000;
	text-align:center;
	opacity:0;
	transition:all .2s ease-in-out 0s;
}
#pager:hover {
	opacity:1;
}
#pager img {
	width: 10%;
	height: 85%;
	border-radius: 0%;
	margin: 10px 3px;
	opacity:0.3;
	transition:all .3s ease-in-out 0s;
}
#pager img:hover {
	opacity:1;
	transform:scale(1.05);
	z-index:100;
}

#next #prev { 
	visibility:hidden;
}

#next,#prev:hover {
	cursor:pointer;
}

#next_c,#prev_c:hover #next,#prev { 
	visibility:visible;
}

.p-message{
	text-align:left;
	font-size: 33px;
	color: #000;
	opacity: 0.8;
	margin-top: 3%;
}

input{
	margin-top: 3%;
	background-color: #fff;
	font-size: 1.5vw;
	font-family: 'Montserrat';
}

#col-sm-4-form{
	background-color: #eccc68;
}

.form-control{
	color: #000;
	border: 1px solid #000;
}
.form-control::-webkit-input-placeholder {
	color: #000;
	opacity: 1;
	font-family: 'Montserrat';
}
/* Firefox <18 */
.form-control:-moz-placeholder {
	color: #000;
	opacity: 1;
	font-family: 'Montserrat';
}
/* Firefox 19> */
.form-control::-moz-placeholder {
	color: #000;
	opacity: 1;
	font-family: 'Montserrat';
}
.form-control:-ms-input-placeholder {
	color: #000;
	opacity: 1;
	font-family: 'Montserrat';
}
#btn_submit{
	margin-top: 1%;
	background-color: #e6e6e6;
	color: #000;
	opacity: 0.7;
	font-size: 20px;
	font-family: 'Montserrat';
	box-shadow: 5px 5px 10px;
}

button:active {
  box-shadow: 5px 5px 15px;
  transform: translateY(3px);
}

iframe{
	width: 100%;
	height: 250px;
}

a img{
	margin: -1px 0px 10px 10px;
}

.footer-body a:hover{
	text-decoration: none;
	color: #ff471a;
}

.footer{
	background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
	font-family: 'Montserrat';
	margin-top: 50px;
	width: 100%;
}


.footer-social{
	background-color: white;
	opacity: 0.6;
}

.footer img{
	width: 35px;
}

.footer p{
	margin-bottom: 5px;
}

.footer-social:hover{
	opacity: 1;
}

#span_contact img{
	width: 3%;
}

#copy-right{
	font-size: 20px;
	font-family: 'Montserrat';
}